@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --hover-text-color: #2375e1;
  --gray-color: #6e7178;
  --gray-border: #dde0e6;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #2d2f33;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #f4f7fb;
}

.ico {
  display: inline-block;
  transition: color 0.2s linear;
}

.mirrored {
  transform: scaleX(-1);
}

.turn {
  transform: scaleY(-1);
}

.show-hide-elem .arrow {
  transition: color 0.2s linear;
  transition: transform 0.2s linear;
}

.show-hide-elem:hover .arrow {
  color: var(--hover-text-color);
}
