@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --hover-text-color: #2375e1;
  --ico-color: #6e7178;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #2d2f33;
}

.ico {
  display: inline-block;
  transition: color 0.2s linear;
}
