#header {
  height: 64px;
  line-height: 64px;
  border-bottom: 1px solid var(--gray-border);
  position: relative;
  z-index: 999;
}

#header::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: -1;
}

#header > * {
  height: 100%;
  padding: 0 22px;
}

#header .left-content {
  float: left;
  transition: background-color 0.2s linear;
  transition: color 0.2s linear;
}

#header .left-content:hover {
  background-color: #eee;
  color: var(--hover-text-color);
}

#header .left-content span {
  margin-left: 22px;
}

#header .right-content {
  float: right;
  color: var(--gray-color);
}

#header .right-content .ico:hover {
  color: var(--hover-text-color);
}

#header .right-content .ico:last-of-type {
  margin-left: 20px;
}
