<div class="elem show-hide-elem">
  <div class="header">
    <div class="title">
      <span>Himalayan sunset</span>
    </div>
    <div class="info show-hide-click">
      <div class="ok">
        <div class="fa fa-check-circle"></div>
      </div>
      <div class="time">
        <span> 49 minutes ago </span>
      </div>
      <div class="arrow ico">
        <div class="fa fa-chevron-up"></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="preview-img">
      <img src="assets/content_example.png" alt="SeX" />
    </div>
    <div class="main-comment">
      <div class="sender">
        <span class="ico">
          <i class="fa fa-comment-dots"></i>
        </span>
        <span class="nickname">Kirill Dashkevich</span>
        <span class="excerpt">commented:</span>
      </div>
      <div class="text">
        <span>
          The sun disappearing behind the Himalayas. This was taken from near
          the Tungnath temple (~3500m) in the Garwhal Himalayas near Chopta. I
          think this is probably my favourite of all of the sunset photos
        </span>
        <br />
        <span class="ps">— Kirill, 10:39 am</span>
      </div>
      <div class="statistics">
        <div class="wrapper">
          <i class="far fa-eye"></i>
          <span>322</span>
        </div>
        <div class="wrapper">
          <i class="fa fa-comment-dots"></i>
          <span>8</span>
        </div>
      </div>
    </div>
  </div>
</div>
