<div id="profile-activity-content"></div>
<div id="profile-activity-aside">
  <div class="profile">
    <div class="avatar">
      <img src="./../../assets/user_ico.jpg" alt="" />
    </div>
    <div class="user-name">
      <span>Harold Pain</span>
    </div>
    <div class="user-role">
      <span>UX/UI designer</span>
    </div>
    <div class="social">
      <div class="fab fa-vk"></div>
      <div class="fab fa-vk"></div>
      <div class="fab fa-vk"></div>
    </div>
  </div>
  <div class="navigation show-hide-elem">
    <div class="header show-hide-click">
      <div class="float-left">
        <span> Navigation </span>
      </div>
      <div class="float-right">
        <div class="arrow ico">
          <div class="fa fa-chevron-up"></div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="float-left">
        <div class="ico">
          <i class="far fa-user"></i>
        </div>
        <span class="title">My profile</span>
      </div>
    </div>

    <div class="item">
      <div class="float-left">
        <div class="ico">
          <i class="far fa-user"></i>
        </div>
        <span class="title">Balance</span>
      </div>
      <div class="float-right">
        <span class="gray-text">$1,456</span>
      </div>
    </div>

    <div class="item">
      <div class="float-left">
        <div class="ico">
          <i class="far fa-user"></i>
        </div>
        <span class="title">Connections</span>
      </div>
      <div class="float-right">
        <span class="hot-circled">47</span>
      </div>
    </div>

    <div class="item">
      <div class="float-left">
        <div class="ico">
          <i class="far fa-user"></i>
        </div>
        <span class="title">Friends</span>
      </div>
    </div>
    <div class="sep"></div>

    <div class="item">
      <div class="float-left">
        <div class="ico">
          <i class="far fa-user"></i>
        </div>
        <span class="title">Connections</span>
      </div>
      <div class="float-right">
        <span class="green-circled">47</span>
      </div>
    </div>

    <div class="item">
      <div class="float-left">
        <div class="ico">
          <i class="far fa-user"></i>
        </div>
        <span class="title">Account settings</span>
      </div>
    </div>
  </div>
</div>
