<div class="float-left left-content">
  <div class="note" targetUrlQuery="activity">
    <span class="ico">
      <i class="fa fa-list"></i>
      <span>Activity</span>
    </span>
  </div>
  <div class="note" targetUrlQuery="map">
    <i class="fa fa-calendar-alt"></i>
    <span>Map</span>
  </div>
  <div class="note" targetUrlQuery="timer">
    <i class="fa fa-cog"></i>
    <span>Timer</span>
  </div>
</div>
<div class="float-right right-content">
  <div class="note">
    <i class="far fa-sticky-note"></i>
    <span>Notes</span>
  </div>
  <div class="note">
    <i class="far fa-user"></i>
    <span>Friends</span>
  </div>
  <div class="note">
    <i class="far fa-user"></i>
    <span>Photos</span>
  </div>

  <div class="settings">
    <i class="fa fa-cog"></i>
    <i class="fa fa-chevron-down"></i>
  </div>
</div>
